@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (light mode) variables */
:root {
  --background: #F5EFFF;
  --foreground: #171717;
  --font-family: "Times New Roman", Times, serif;
}

/* Dark mode variables */
:root.dark {
  --background: #121212;
  --foreground: #ffffff;
  --font-family: "Times New Roman", Times, serif;
}

/* Handle system preference */
@media (prefers-color-scheme: dark) {
  :root:not(.dark) {
    --background: #121212;
    --foreground: #ededed;
  }
}

/* Apply the background, foreground colors, and font */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
}
